html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-light;
    font-family: 'Quicksand', sans-serif;
    color: $color-dark;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

// Text

h1 {
    text-transform: uppercase;
    font-size: 180%;
    margin: 20px;
}

// Images

img {
    display: block;
    width: 100%;
}

// Links

a {
    font-weight: bold;
    color: $color-dark;
    text-decoration: none;

    &:hover {
        color: $color-accent-dark;
    }
}


// 404 Seite

#error-404 {
    margin: 20px;
    text-align: center;

    img {
        width: 450px;
        border-radius: 8px;
        margin: 0 20px;
        _padding-bottom: 20px;
        object-fit: contain;

        @media screen and (max-width: $mq-breakpoint-mobile) {
            width: 100%;
            margin: 0 auto;
        }
    }
}