html {
    scroll-behavior: smooth;
}

body {
    background-color: $color-light;
    font-family: 'Quicksand', sans-serif;
    color: $color-dark;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}

// Images

img {
    display: block;
    width: 100%;
}

// Links

a {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-dark;
    text-decoration: none;
}
