body {
    font-family: 'Quicksand', sans-serif;
    color: $color-dark;
    font-size: 100%;
    margin: 0 auto;
    padding: 0;
    // max-width: 1000px;
    height: 100%;
  }


img {
    width: 100%;
    display: block;
}

a {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-dark;
    text-decoration: none;
}