.cards {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: $mq-breakpoint-mobile) {
        flex-wrap: nowrap;
      }

    .card {
        padding: 10px;
        min-height: 200px;
    }
}

// 3ER ICON RASTER

#icons-3 {
    i {
        font-size: 350%;
        color: $color-green;
    }

    .card {
        max-width: 350px;
    }
}

// 4 BUTTONS

#buttons-4 {

    img {
        width: 100%;
        height: 300px;
        border-radius: 8px;
        opacity: 0.8;
        object-fit: cover;
    }

    .card {
        width: 300px;
    }

    .card:hover {
        img {
            opacity: 1;
        }
    }
}


// 3er BILDRASTER:

#bildraster-3 {
 // TBD
}


// BEWERTUNGEN:

#ratings {

    .card {
        border: 2px dotted $color-accent-dark;
        border-radius: 5px;
        margin: 10px;
        min-width: 25%;
    }

    .rating {
        color: $color-accent-light;
    }

    h4 {
        margin: 0;
    }
}