// Media Queries

$mq-breakpoint-desktop: 900px;
$mq-breakpoint-mobile: 600px;

// Text

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

// Breiten und Höhen

.size-50 {
    width: 50%;
}

.size-100 {
    width: 100%;
}