// Media Queries

$mq-breakpoint-desktop: 900px;
$mq-breakpoint-mobile: 400px;

// Divider

.divider25px,
.divider50px,
.divider100px {
  width: 100%;
  _border: 1px dashed violet;
}
.divider25px {
  height: 25px;
}
.divider50px {
  height: 50px;
}
.divider100px {
  height: 100px;
}

// Text

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

// Breiten und Höhen

.size-50 {
    width: 50%;
}

.size-100 {
    width: 100%;
}

// Floating

.float-l {
  float: left;
}

.float-r {
  float: right;
}