@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F2F2F3;
  font-family: 'Quicksand', sans-serif;
  color: #28212E;
  font-size: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

img {
  width: 20%;
  display: block;
}

a {
  font-weight: bold;
  text-transform: uppercase;
  color: #28212E;
  text-decoration: none;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

#header-stripe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #75A095;
  text-align: center;
}

#header-stripe div {
  width: 25%;
  margin: 2px;
  padding: 2px;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header header {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Special Elite', cursive;
  padding: 15px;
  text-shadow: 5px 5px 10px #75A095;
  min-width: 25%;
}

nav {
  font-weight: bold;
  text-transform: uppercase;
  color: #28212E;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

nav li {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  min-width: 110px;
}

nav li .fa-caret-right {
  display: none;
}

nav li:hover,
nav li:focus-within {
  cursor: pointer;
}

nav li:hover .fa-caret-down,
nav li:focus-within .fa-caret-down {
  display: none;
}

nav li:hover .fa-caret-right,
nav li:focus-within .fa-caret-right {
  display: inline;
}

nav li:focus-within a {
  outline: none;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li:focus-within > ul,
nav ul li ul:hover,
nav ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
  background-color: #F2F2F3;
  clear: both;
  width: 100%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 600px) {
  .cards {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.cards .card {
  padding: 10px;
  min-height: 200px;
  min-width: 180px;
}

#icons-3 i {
  font-size: 350%;
}

#ratings .card {
  border: 2px dotted #763C48;
  border-radius: 5px;
  margin: 10px;
  min-width: 25%;
}

#ratings .rating {
  color: #AD7246;
}

#ratings h4 {
  margin: 0;
}
/*# sourceMappingURL=style.css.map */