
#error-404 {

    margin: 30px;
    text-align: center;
    vertical-align: middle;

    @media screen and (max-width: $mq-breakpoint-desktop) and (min-width: $mq-breakpoint-mobile) {
        img {
            min-width: 350px;
            max-width: 450px;
            margin-right: 20px;
        }
    }

    @media screen and (max-width: $mq-breakpoint-mobile) {
        img {
            min-width: 200px;
            max-width: 380px;
        }
    }

    @media screen and (min-width: $mq-breakpoint-mobile) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #text-404 {
        min-width: 300px;
    }

    img {
        border-radius: 8px;
        max-width: 500px;
        margin-right: 20px;
        
    }

}