#about {

    p {
        margin: 20px;
        text-align: justify;
    }

    img {
        width: 450px;
        border-radius: 8px;
        margin: 0 20px;
        padding-bottom: 20px;
        object-fit: contain;

        @media screen and (max-width: $mq-breakpoint-mobile) {
            width: 100%;
            margin: 0 auto;
        }
    }


}