#about {

    p {
        margin: 15px;
        padding: 10px;
        text-align: justify;
    }

    img {
        max-width: 500px;
        min-width: 280px;
        border-radius: 20px;
        padding: 15px;

        @media screen and (min-width: 680px) {
            float: right;
        }

        @media screen and (max-width: 679px) {
            width: 90%;
            margin: 0 auto;
        }

    }
}


#impressum {
    margin: 20px;
    text-align: justify;
}