#memory {

    p {
      margin: 20px;
      text-align: justify;
    }

    .memory {

      text-align: center;

      [hidden] {
        display: none;
      }
      
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      
      .memory__board {
        max-width: 1100px;
        margin: auto;
        // display: grid;
        // grid-template-columns: repeat(5, 150px);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;
        justify-content: center;
        
        transition: background-color 0.2s;
        padding: 20px;
        border-radius: 20px;
      }
      
      .memory__board--inactive {
        pointer-events: none;
        background-color: $color-accent-dark;
        border-radius: 20px;
      }
      
      .plant {
        width: 150px;
        height: 150px;
        background: linear-gradient(
          180deg,
          #232f2c 0%,
          #75A095 50%,
          #095c51 100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
      }
      
      .plant:not(.plant--found) {
        cursor: pointer;
      }
      
      .plant__img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.25s;
        border-radius: 15px;
      }
      
      .plant--visible .plant__img {
        opacity: 1;
      }
      
      button.new__game {
        color: $color-accent-dark;
        padding: 10px 10px 10px 10px;
        margin: 0px;
        border: 2px solid $color-accent-dark;
        border-radius: 5px;
        background-color: $color-light;
        width: 210px;
        font-size: 16px;
        font-weight: bold;
      }
      .counter {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
      }
      


    }
      
       


}

